@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;700;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --background: #0a0a0a;
  --foreground: #171717;
}

@layer base {
  html {
    font-family: Inter, system-ui, sans-serif;
  }
  ::selection {
    @apply bg-highlightColor text-inherit;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #F5F5F5;
    --foreground: #171717;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Inter, Helvetica, sans-serif;
}

/* V debug mode */


/* * {
  background-color: transparent !important;
} */

.react-calendar {
  width: 450px;
  max-width: 100%;
  background-color: #F5F5F5 !important;
  border: 1px solid #a0a096;
  border-radius: 0.75rem;
  font-family: 'Inter';
  line-height: 1.325em;
  padding: 0.75rem;
  /* box-shadow: 5px 2px 2px #a0a096; */
}

input[placeholder]::placeholder {
  text-decoration: none !important;
}

.react-calendar--doubleView {
  width: 700px;
}

.react-calendar--doubleView .react-calendar__viewContainer {
  display: flex;
  margin: -0.5em;
}

.react-calendar--doubleView .react-calendar__viewContainer > * {
  width: 50%;
  margin: 0.5em;
}

.react-calendar,
.react-calendar *,
.react-calendar *:before,
.react-calendar *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.react-calendar button {
  border: 0;
  padding: 0;
  outline: none;
}

.react-calendar button:enabled:hover {
  border-radius: 0.75rem;
  cursor: pointer;
}

.react-calendar__navigation {
  display: flex;
  height: 44px;
  margin-bottom: 1em;
}

.react-calendar__navigation button {
  min-width: 44px;
  background: none;
}

.react-calendar__navigation button:disabled {
  background-color: #f0f0f0;
}

.react-calendar__navigation button:enabled:hover,
.react-calendar__navigation button:enabled:focus {
  background-color: #e6e6e6;
  border-radius: 0.75rem;
}

.react-calendar__month-view__weekdays {
  text-align: center;
  text-transform: lowercase;
  font: inherit;
  font-size: 0.75em;
  font-weight: bold;
}

.react-calendar__month-view__weekdays__weekday {
  padding: 0.5em;
}

.react-calendar__month-view__weekNumbers .react-calendar__tile {
  display: flex;
  align-items: center;
  justify-content: center;
  font: inherit;
  font-size: 0.75em;
  font-weight: bold;
}

.react-calendar__month-view__days__day--weekend {
  color: black !important;
}

.react-calendar__month-view__days__day--neighboringMonth,
.react-calendar__decade-view__years__year--neighboringDecade,
.react-calendar__century-view__decades__decade--neighboringCentury {
  color: #757575;
}

.react-calendar__year-view .react-calendar__tile,
.react-calendar__decade-view .react-calendar__tile,
.react-calendar__century-view .react-calendar__tile {
  /* padding: 2em 0.5em; */
}

.react-calendar__tile {
  /* top/bottom left/right */
  width: 100%;
  background: none;
  text-align: center;
  font: inherit;
  font-size: 0.833em;
  @apply my-1 py-3 !important;
}



.react-calendar__tile:disabled {
  background-color: #f0f0f0;
  color: #ababab;
}

.react-calendar__month-view__days__day--neighboringMonth:disabled,
.react-calendar__decade-view__years__year--neighboringDecade:disabled,
.react-calendar__century-view__decades__decade--neighboringCentury:disabled {
  color: #cdcdcd;
}

.react-calendar__tile:enabled:hover,
.react-calendar__tile:enabled:focus {
  border-radius: 0.75rem;
  background-color: #e6e6e6;
  box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
}


.react-calendar__tile--now {
  background: #e8e4ec !important;
  color: white;
  border-radius: 0.75rem;
  box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
}


.react-calendar__tile--now:enabled:hover,
.react-calendar__tile--now:enabled:focus {
  background: #e8e4ec !important;
  color: white;
  border-radius: 0.75rem;
  box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
};


.react-calendar__tile--hasActive {
  border-radius: 0.75rem;
  background: #e8e4ec !important;
}

.react-calendar__tile--hasActive:enabled:hover,
.react-calendar__tile--hasActive:enabled:focus {
  border-radius: 0.75rem;
  background: #a9d4ff;
}

.react-calendar__tile--active {
  background: #e8e4ec !important;
  color: black !important;
  border-radius: 0.75rem;
  box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
}

.react-calendar__tile--active:enabled:hover,
.react-calendar__tile--active:enabled:focus {
  border-radius: 0.75rem;
  background: #1087ff;
}

.react-calendar--selectRange .react-calendar__tile--hover {
  border-radius: 0.75rem;
  background-color: #e6e6e6;
  @apply duration-300 ease-in-out !important;
}
/* 
.react-calendar__month-view__days {
  gap: 5px;
} */

.react-calendar__navigation__label__labelText {
  text-transform: lowercase;
}

.react-calendar__tile--logged {
  @apply bg-[#f2d1cd] text-black rounded-xl duration-300 ease-in-out !important;
  box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
}

.react-calendar__tile--logged:hover {
  box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
  @apply bg-[#df9186] duration-300 ease-in-out !important;
}

abbr{
  text-transform: lowercase;
}

